HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/java/com/example/restblog/dataOriginal
src/main/java/com/example/restblog/webOriginal
src/main/java/com/example/restblog/securityOriginal
src/main/java/com/example/restblog/errors
/Users/jenniferdeleon/IdeaProjects/elixir-rest-blog/src/main/java/com/example/restblog/errorsOriginal