
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
p {
    text-align: center;
    margin: 0;
}
.riddle {
    word-wrap: break-word;
    text-align: center !important;
    overflow-wrap: break-word;
}

h1 {
    text-align: center;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10{
    max-width: 50em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center !important;
    text-wrap: inherit;
    font-size: larger;
    font-family: 'VT323', monospace;
    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
}

.riddle .p1{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    color: #298aeb;
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards,
            blink-caret .75s step-end infinite;
}

        /* The typing effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }

        /* The typewriter cursor effect */
        @keyframes blink-caret {
            from, to { border-color: #3da153 }
            50% { border-color: #3da153; }
        }

.riddle .p2{
    color: #298aeb !important;
    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
            /*blink-caret .75s step-end infinite;*/
    animation-delay: 5s !important;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100%}
}
.riddle .p3{
    color: #298aeb !important;
    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 10s !important;
}

@keyframes typing {
    from { width: 0}
    to { width: 100%}
}
.riddle .p4{
    color: #298aeb !important;
    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 14s !important;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p5{
    color: yellow !important;

    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 17s !important;
}


/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p6{
    color: yellow !important;

    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 20s !important;
}



/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p7{
    color: yellow !important;
    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 23s !important;
}


/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p8{
    color: #298aeb !important;
    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 28s !important;

}
.p9{
    color: #3da153 !important;
    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 30s !important;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p10{
    color: red !important;
    font-size: larger;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /*border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 0;
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end)forwards;
    /*blink-caret .75s step-end infinite;*/
    animation-delay: 34s !important;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}






