
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.riddle {
    word-wrap: break-word;
    text-align: center !important;
    overflow-wrap: break-word;

}
h1 {
    text-align: center;
}
.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10{
    max-width: 50em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center !important;
    text-wrap: inherit;
    font-size: larger;
    /*display: flex;*/
    font-family: 'VT323', monospace;
    overflow: hidden !important; /* Ensures the content is not revealed until the animation */

}

.p1{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    color: #298aeb;
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

        /* The typing effect */
    @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange; }
    }

        /* The typewriter cursor effect */
        @keyframes blink-caret {
            from, to { border-color: #3da153 }
            50% { border-color: #3da153; }
        }

.p2{
    animation-delay: 5s !important;
    color: #298aeb !important;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}



.p3{
    animation-delay: 9s !important;
    color: #298aeb !important;

    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}

.p4{
    animation-delay: 13s !important;
    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p5{
    animation-delay: 16s !important;
    color: yellow !important;

    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p6{
    animation-delay: 20s !important;
    color: yellow !important;

    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p7{
    animation-delay: 24s !important;
    color: yellow !important;

    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p8{
    animation-delay: 28s !important;
    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}
.p9{
    animation-delay: 31s !important;
    color: #298aeb !important;
    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}
.p10{
    animation-delay: 34s !important;
    color: #bdade8 !important;
    overflow: hidden !important; /* Ensures the content is not revealed until the animation */
    border-right: .15em #3da153; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    letter-spacing: .15em; /* Adjust as needed */
    font-size: x-large !important;

    animation:
            typing 5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0}
    to { width: 100% }
}






