@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.img-circle {
    border-radius: 100%;
    border: 4px solid;

}
h1{
    font-family: 'Lobster', cursive;

}
p{
    margin-left: .5em;
    font-family: 'Lobster', cursive;
    text-align: left;
    font-size: xx-large;
}
label {
    display: block;
    margin-top: 1em;
}
button {
    margin-top: 1em;
}
#profile {
    display: block;
}
.profile-info {
    color: #3da153;
    font-size: small;
}
